
venv/
.venv/
env/
.env/


__pycache__/
*.py[cod]
*$py.class


*.egg-info/
*.egg
dist/
build/

.ipynb_checkpoints/
*.ipynb


.coverage
htmlcov/
.pytest_cache/
test_results/

data/
*.csv
*.parquet
*.json
*.xlsx
*.db
*.sqlite

secrets.ini
.env
*.env
config.yml

*.dump
*.sql
*.bak

airflow/logs/
airflow/plugins/
airflow/airflow-webserver.pid

profiles.yml
target/
dbt_packages/
logs/


docker-compose.override.yml
*.dockerignore

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

.env
*.env
